<nav>
	<ul>
		<f:for each="{navigation}" as="navigationItem">
			<li>
				<f:if condition="{navigationItem.children}">
					<f:then>
						<ul>
							<f:for each="{navigationItem.children}" as="navigationSubItem">
								<li>
									<f:link.typolink additionalAttributes="{load-priority:5}" parameter="{navigationSubItem.link}">{navigationSubItem.title}</f:link.typolink>
								</li>
							</f:for>
						</ul>
					</f:then>
					<f:else>
						<f:link.typolink additionalAttributes="{load-priority:5}" parameter="{navigationItem.link}">{navigationItem.title}</f:link.typolink>
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</nav>